/* GENERAL STYLING */
* {
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

.container {
  display: flex;
}

/* WEATHER BANNER */
h3 {
  color: #fff;
}
.custom-banner,
.jumbotron {
  height: 2rem;
  background: rgb(139, 0, 120);
  background: linear-gradient(
    90deg,
    rgba(139, 0, 120, 1) 0%,
    rgba(16, 33, 204, 1) 100%
  );
}
.weather-header {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: center;
}

/* SEARCH CITY LEFT-SIDE BAR */
.left-side-bar {
  padding: 1rem;
  background-color: #1c1ec5;
  border-radius: 1rem;
  display: flex;
}

.searchBtn {
  background-color: lightblue;
  border: none;
  padding: 5px 10px 5px 10px;
  color: darkslategrey;
  border-radius: 1rem;
}

.citySearch {
  border: none;
  border-radius: 0.5rem;
  padding: 5px 10px 5px 10px;
}

/* CURRENT WEATHER */
.forecast-custom {
  display: flex;
  background-color: #80037f;
  border-radius: 1rem;
  color: #fff;
}

.forecast {
}

/* 5-DAY FORECAST */
.title-forecast {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 15px;
}
.custom-forecast {
  border: none;
  padding: 0.5rem;
  color: darkslategrey;
  border-radius: 1rem;
}

.card {
  /* width: 20rem; */
  width: 200px;
  height: 250px;
  margin-right: 20px;
  padding: 1rem;
  background-color: #5d0d98;
  color: #fff;
}

.five-days,
.scales {
  display: flex;
}

.forecast-labels {
  text-align: right;
}

.values,
.labelDay {
  text-align: left;
}
